#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-clr3);
  overflow: scroll
}

#content-container {
  height: 600px;
  width: 700px;
  display: flex;
  flex-direction: column;
}

#info-bar {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#switch {
  border: 1px solid black;
  border-radius: 30px;
  position: relative;
  height: 30px;
  width: 75px;
  transition: 1s linear;
  background: rgba(100, 100, 100, 0.5)
}

#knob {
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  height: 100%;
  width: 40%;
  left: 0%;
  background: gold
}

#info-bar :nth-child(2) {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch:hover > #knob {
  right: 0%;
}

#search-bar {
  width: 100%;
  height: 100px;
  /* padding: 20px; */
  margin-bottom: 20px;
  background: var(--secondary-clr2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

#search-bar input {
  height: 100%;
  width: 70%;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;
  color: rgba(100, 100, 100, 0.75)
}

#search-bar button {
  height: 3rem;
  width: 6rem;
  margin-left: 10px;
  border-radius: 12px;
  color: white;
  background: var(--secondary-clr1);
  border: none;
  position: absolute;
  right: 5%;
} 

#search-bar input:focus {
  border: none;
  outline: none;
}

#user-info-container {
  background: var(--secondary-clr2);
  height: 450px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  display: flex;
}

#avatar-container {
  height: 100%;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px
}

#avatar {
  height: 30%;
  width: auto;
  top: 5%;
  left: 5%;
  border-radius: 50%; 
}

#user-info-section {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr)
}

#username {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

#join-date {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

#bio {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  color: rgba(100, 100, 100, 0.75);
}

#stats-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 90%;
  min-width: 50%;
  height: 75px;
  background: var(--secondary-clr3);
  color: rgba(100, 100, 100, 0.5);
  border-radius: 12px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#other-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 75px;
  width: 90%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.other-stat {
  margin: 5px;
  text-align: center;
  color: white
}

@media screen and (max-width: 980px) {
  #content-container {
    max-height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column
  }

  #search-bar {
    height: 15%
  }

  #user-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 80%;
    overflow: scroll

  }

  #avatar-container {
    height: 50%;
  }

  #avatar {
    height: 100%;
    width: auto
  }

  #user-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  #bio {
    text-align: center;
  }

  #stats-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px
  }

  #other-info {
    margin-top: 10px;
    margin-bottom: 10px
  }

}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}