#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-clr3)
}

#content-container {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#search-bar {
  width: 100%;
  height: 15%;
  /* padding: 20px; */
  margin-bottom: 10px;
  background: var(--secondary-clr2);
  border-radius: 15px;
  display: flex; 
  align-items: center;
}

#search-bar input {
  height: 100%;
  width: 80%;
  background: transparent;
  border: none;
  font-size: 2rem;
}

#search-bar button {
  height: 3rem;
  width: 6rem;
  margin-left:20px;
  border-radius: 12px;
  color: white;
  background: var(--secondary-clr1);
  border: none
} 

#search-bar input:focus {
  border: none;
  outline: none
}

#user-info-container {
  background: var(--secondary-clr2);
  height: 85%;
  width: 100%;
  border-radius: 15px;
  position: relative
}

#avatar {
  position: absolute;
  height: 30%;
  width: auto;
  top: 5%;
  left: 5%;
  border-radius: 50%; 
}

#username {
  position: absolute;
  left: 30%;
}